@font-face {
    font-family: 'iconfont';  /* project id 621525 */
    src: url('https://at.alicdn.com/t/font_621525_rg1u1enujyz257b9.eot');
    src: url('https://at.alicdn.com/t/font_621525_rg1u1enujyz257b9.eot?#iefix') format('embedded-opentype'),
    url('https://at.alicdn.com/t/font_621525_rg1u1enujyz257b9.woff') format('woff'),
    url('https://at.alicdn.com/t/font_621525_rg1u1enujyz257b9.ttf') format('truetype'),
    url('https://at.alicdn.com/t/font_621525_rg1u1enujyz257b9.svg#iconfont') format('svg');
}
body{
    background-color: #f7f7f7;
}
#head{
    width: 100%;
    height: 1.75rem;
    background: #0096FD;
    padding: 0 .3rem;
    position: fixed;
    top: 0;
    left: 0;
}
.head_word{
    font-size: .65rem;
    color: #fff;
    margin-left: .25rem;
    font-family: "苹方 常规";
}
#buding{
    width: 100%;
    height: 1.75rem;
}

#order{
    width: 100%;
    height: auto;
    background-color: #fff;
    padding: 0 .4rem;
}
.order_item{
    width: 100%;
    height: 4.67rem;
    /*background-color: #FF485F;*/
    border-bottom: .01rem solid #e8e8e8;
}
.oi_business{
    width: 100%;
    height: 1.5rem;
    /*background-color: skyblue;*/
    padding-top: .5rem;
    float: left;
}
.oi_b_left{
    display: inline-block;
}
.oi_b_left_zuo{
    width: 1rem;
    height: 1rem;
    border-radius: 10%;
    border: 1px solid #7d7d7d;
    display: inline-block;
    float: left;
}
.oi_b_left_zuo img{
    width: 100%;
    height: 100%;
}
.oi_b_left_you{
    width: auto;
    height: auto;
    /*background-color: chartreuse;*/
    float: left;
    padding-left: .3rem;
}
.oi_b_ly_words{
    font-size: .5rem;
    color: #000;
    /*float: left;*/
}
.oi_b_ly_wordx{
    font-size: .25rem;
    color: #ccc;
    /*float: left;*/
}
.oi_b_right{
    width: 2.4rem;
    height: 1rem;
    /*background-color: #585858;*/
    float: right;
    right: 0;
}

.oi_b_right_t{
    font-size: .46rem;
    color: #232323;
}


.oi_remark{
    width: 100%;
    height: 1.65rem;
    /*background-color: plum;*/
    float: left;
    padding-left: 1.3rem;
}
.oi_remark_word1{
    color: #707070;
    font-size: .45rem;
    line-height: 1.65rem;
    display: inline-block;
}
.oi_remark_word2{
    font-size: .45rem;
    color: #000;
    float: right;
    right: 0;
    line-height: 1.65rem;
}
.oi_same{
    width: 2.5rem;
    height: .9rem;
    background: #fff;
    border: 1px solid darkblue;
    border-radius: 5%;
    float: right;
    margin-right: 0;
}
.oi_same p{
    text-align: center;
    line-height: .9rem;
    font-size: .42rem;
    color: #4795DA;
}


#wy{
    width: 100%;
    height: 2rem;
    background: #ff56;
}

#foot{
    width: 100%;
    height: 1.5rem;
    border-top: .01rem solid #ccc;
    position: fixed;
    left: 0;
    bottom: 0;
    background: #f7f7f7;
}
.foot_item{
    width: 25%;
    height: 100%;
    /*background: darkblue;*/
    padding-top: .23rem;
    float: left;
}
.foot_item_icon{
    font-family: 'iconfont';
    font-size: .63rem;
    color: #7d7d7d;
    float: left;
    padding-left: 35%;
    padding-right: 35%;
}
.foot_item_word{
    font-size: .35rem;
    color: #7d7d7d;
    line-height: .6rem;
    font-family: "苹方 常规";
    padding-left: 35%;
    float: left;
    display: inline;
}
.foot_iich{
    color: #008eff;
}
.foot_iwch{
    color: #008eff;
}